$appbar-bg-color: rgb(42, 129, 22);
@import './setting.scss';

.navbar-app {
  height: $navbar-app-height;
    background-color: $appbar-bg-color;
    font-size: 1.5rem;
    padding-left: $gap;
    display: flex;
    align-items: center;
  }