@import './setting.scss';

.board-content {
    height: $board-content-height;
    // display: flex;
    // margin: 0 $gap $gap;
    overflow-x: auto;
    overflow-y: hidden;
    
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal {
      height: 12px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px ;
    }
    .column-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed rgb(145, 158, 172);
      margin: 5px 45px 5px 5px;
    }
}