@import './setting.scss';

.board-content {
  display: flex;
    height: $board-content-height;
    // display: flex;
    // margin: 0 $gap $gap;
    overflow-x: auto;
    overflow-y: hidden;
    &:after {
      content: '';
      flex: 0 0 $gap;
    }
    
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal {
      height: 12px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px ;
    }
    .column-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed rgb(145, 158, 172);
      margin: 5px 45px 5px 5px;
    }

    .add-new-column {
      width: 250px;
      max-width: 250px;
      line-height: 32px;
      padding: 4px 0 4px 15px;
      cursor: pointer;
      color: rgb(255, 255, 255);
      margin-left: $gap;
      font-size: 15px;
      background-color: hsla(0,0%,100%,.20);
      border-radius: $columns-border-radius;
      &:hover {
      background-color: hsla(0,0%,100%,.30);
      }
    }
    .enter-new-column {
      width: 250px;
      max-width: 250px;
      background-color: $column-bg-color;
      padding: 4px 10px;
      margin-left: $gap;
      border-radius: $columns-border-radius;
      .input-enter-new-column {
        margin: 5px 0;
      }
    }
}