@import url('http://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');

$gap: 10px;

// Height: appbar + boardbar + boardContent = 99vh, 1vh for crollbar
$navbar-app-height: 6vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;

//color: 
$board-bg-color: rgb(90, 147, 77);
$input-border-color:rgb(105, 168, 91);
$app-main-text-color: rgb(18, 18, 18);
$column-bg-color: #ebecf0;
$alert-danger: #bd4848;
// Screen:
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-lg: 480px;
$screen-ip6-down: '{max-width: 375px}';

$columns-border-radius: 5px;
